<div class = "recipe_container">
  <div class="title-button">
    <h1 class = "recipe-title">Recipes</h1>
    <%= link_to "Add recipe", new_recipe_path , class: "new-recipe" %>
  </div>

  <div class="recipes">
      <% @recipes.each do |recipe| %>
        <% if recipe.user_id == current_user.id %>
          <%= render partial: 'recipe', locals: { recipe: recipe } %>
        <% end %>
      <% end %>
  </div>
</div>  