<div class="form-center">
  <div class="title-button">
    <h1>New recipe</h1>
  </div>
  <%= render "form", recipe: @recipe %>

  <br>

  <div>
    <%= link_to "Back to recipes", recipes_path %>
  </div>
</div>